<div class="empresa">
	<section class="btn-nuevo">
		<button id="ea-btn-new" type="button" class="btn btn-success">Agregar Nueva</button>
	</section>
	                <section class="ea-lista">
                		<table class="table table-bordered col-md-12 col-lg-12 col-xs-12 col-sm-12">
							<tr>
							  <th class="th">Nombre de la Empresa</th>
							  <th class="th">NIT</th>
							  <th class="th">Teléfono</th>
							  <th class="th">Dirección</th>
							  <th class="th">Representante Legal</th>							 
							  <th class="th">Botones de opciones</th>
							</tr>
							<tr>
							  <td>Pro Taxis</td>
							  <td>8-986 422525</td>
							  <td>456 6435</td>
							  <td>Carlos Romero</td>
							  <td>Calle 22 kra 76 #18</td>
							  <td><button id="ea-btn-ver" type="button" class="edit btn btn-primary">Ver / Editar</button><button id="ea-btn-closee" type="button" class="elim btn btn-danger">Eliminar</button></td>
							</tr>
							<tr>
							  <td>Taxis SM</td>
							  <td>8-986 422525</td>
							  <td>456 6435</td>
							  <td>Carlos Romero</td>
							  <td>Calle 22 kra 76 #18</td>
							  <td><button type="button" class="edit btn btn-primary">Ver / Editar</button><button id="ea-btn-closee" type="button" class="elim btn btn-danger">Eliminar</button></td>
							</tr>
							<tr>
							  <td>Taxis Santa Marta</td>
							  <td>8-986 422525</td>
							  <td>456 6435</td>
							  <td>Carlos Romero</td>
							  <td>Calle 22 kra 76 #18</td>
							  <td><button type="button" class="edit btn btn-primary">Ver / Editar</button><button id="ea-btn-closee" type="button" class="elim btn btn-danger">Eliminar</button></td>
							</tr>
							<tr>
							  <td>Super Ejecutivos</td>
							  <td>8-986 422525</td>
							  <td>456 6435</td>
							  <td>Carlos Romero</td>
							  <td>Calle 22 kra 76 #18</td>
							  <td><button type="button" class="edit btn btn-primary">Ver / Editar</button><button id="ea-btn-closee" type="button" class="elim btn btn-danger">Eliminar</button></td>
							</tr>
							<tr>
							  <td>Aso Taxis</td>
							  <td>8-986 422525</td>
							  <td>456 6435</td>
							  <td>Carlos Romero</td>
							  <td>Calle 22 kra 76 #18</td>
							  <td><button type="button" class="edit btn btn-primary">Ver / Editar</button><button id="ea-btn-closee" type="button" class="elim btn btn-danger">Eliminar</button></td>
							</tr>
							<tr>
							  <td>Super Taxis</td>
							  <td>8-986 422525</td>
							  <td>456 6435</td>
							  <td>Carlos Romero</td>
							  <td>Calle 22 kra 76 #18</td>
							  <td><button type="button" class="edit btn btn-primary">Ver / Editar</button><button id="ea-btn-closee" type="button" class="elim btn btn-danger">Eliminar</button></td>
							</tr>
						</table>
                	</section>
                	<section id="ea-emp" class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
	                    <div class="panel panel-default">
	                        <div class="panel-body">
	                          Empresas
	                    	</div>
	                        <div class="ea-panel-footer panel-footer">
	                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
	                                <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Nombre de la empresa" aria-describedby="sizing-addon1">
	                                </div>
		                            <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
		                            	<input type="text" class="form-control" placeholder="NIT de la empresa" aria-describedby="sizing-addon1">
		                            </div>
		                            <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
		                            	<input type="text" class="form-control" placeholder="Nombre de Representante Legal" aria-describedby="sizing-addon1">
		                            </div>
		                            <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
		                            	<input type="text" class="form-control" placeholder="Cédula de Representante Legal" aria-describedby="sizing-addon1">
		                            </div>
		                            <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
		                            	<input type="text" class="form-control" placeholder="Teléfono de la Empresa" aria-describedby="sizing-addon1">
		                            </div>
		                            <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
		                            	<input type="text" class="form-control" placeholder="Dirección de la Empresa" aria-describedby="sizing-addon1">
		                            </div>
		                            <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
		                            	<input type="text" class="form-control" placeholder="N° Interno de la Empresa" aria-describedby="sizing-addon1">
		                            </div>
		                            <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
		                            	<input type="text" class="form-control" placeholder="N° de Vehículos Afiliados" aria-describedby="sizing-addon1">
		                            </div>
		                        </div>
	                        </div>
	                    </div>
                	</section>
</div>
<script>
		//empresa
		$("#ea-emp").hide();
		$("#ea-btn-ver").click(function(){
			$("#ea-emp").show();
		});
		$("#ea-btn-new").click(function(){
			$("#ea-emp").show();
		});
		$("#ea-btn-closee").click(function(){
			$("#ea-emp").hide();
		});
	//fin empresa
</script>